

      .thumbnail {
        width: 100%;
     
      }

      .search-bar {
        display: block;
        margin-bottom: 20px;
      }


      .thumbnail-row {
        margin-bottom: 12px;
        position: relative;
      }

      .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
      }

      .profile-picture {
        width: 40px;
        border-radius: 50%;
      }

      .video-title {
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 12px;
      }

      .video-author,
      .video-stats {
        font-size: 12px;
        color: rgb(96, 96, 96);
      }

      .video-author {
        margin-bottom: 4px;
      }

      .video-grid {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 16px;
        row-gap: 40px; 
      }

      .video-time{
        font-family: Roboto,Arial; 
        font-size: 12px;
        font-weight: 500;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
        border-radius: 2px ; 
        background-color: black;
        color:white;
        position:absolute; 
        bottom: 8px;
        right: 5px;
      }