
  .video-title{
    font-family: arial ;
    font-weight: bold;
    font-size : 18px ; 
    width : 300px; 
    line-height: 26px;
    margin-bottom: 5px;
  }  
  
  p {  
    font-family: roboto ; 
    margin-top: 0; 
    margin-bottom: 0;
  
  }


  .video-stats {
    font-family: arial ; 
    font-size : 14px ; 
    color: rgb(96,96,96) ; 
    margin-bottom: 20px;

  }

  .video-author {
    font-family: Arial ;
    font-size: 14px ; 
    color: rgb(96,96,96);
    margin-top: 20px ;  
  }
  .video-descriptioin { 
    font-family: Arial;
    font-size : 14px ; 
    color: rgb(96,96,96);
    width: 280px ; 
    line-height: 22px ;   
    margin-bottom : 100px ;  
  }
  .apple-text { 
    margin-bottom: 50px;
    font-size : 14px ; 
    background-color: rgb(277,65,64);
    color : white ; 
    text-align : center ; 
    padding-top: 18px ; 
    padding-bottom: 18px ;  
    text-decoration: underline;

  }
  
  .span-example{
    color : red;

  }
  .span-example:hover {
    text-decoration : underline ; 
  }

  .shop-link{
    cursor: pointer; 
  }

  .shop-link :hover  {
   text-decoration : underline ;  
  }
