p {
font-family: montserrat;
text-align: center ;
margin-top: 0 

}
 .title {
  font-size : 35px ; 
  font-weight : bold ; 
  margin-bottom : 10px 
 }

 
.underlined {
  text-decoration: underlined ; 
}