.sidebar{
  postition: fixed; 
  left: 0; 
  bottom: 0; 
  top: 55px; 
  background-color: white ;
  width: 72px;
}
.sidebar-link{
  height: 7px;
}

.sidebar-link:hover{
  background-color: rgb(232, 230, 230);
} 

 
.sidebar-link img {
  height: 24px;
}